body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: fit-content;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: monospace, cursive;
    transition: all .2s ease-in-out;
    margin-bottom: 4rem;
    margin: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.title {
    color: grey;
    font-size: 18px;
    padding: 0 1rem;
    margin-top: 0.5rem;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.a {
    text-decoration: none;
    font-size: large;
    color: white;
    font-family: cursive;
}

.button:hover {
    opacity: 0.7;
}

.image {
    margin-top: 1rem;
    width: 5rem;
    height: 5rem;
}

.heading {
    font-family: cursive;
    font-weight: lighter;
    text-align: center;
}

.no-results {
    display: block;
    width: 99vw;
    padding: 20px 0px;
}

.no-results img {
    border-radius: 40px;
    height: 30%;
    width: 40%;
}

.button-no-results {
    display: block;
    min-width: 10rem;
    height: 2.5rem;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 1rem;
    font-size: medium;
    font-family: cursive;
}

.a-no-results {
    text-decoration: none;
    font-size: large;
    color: white;
    font-family: cursive;
}

.button-no-results:hover {
    background-color: #000000c4;
}