body {
    margin: 0px;
    height: 100vh;
    background: url('../images/index.jpg') no-repeat center/cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

.text-typing {
    padding: 20px 30px;
    background: #f5f5f5;
    font-size: 35px;
    font-family: monospace;
    border-radius: 50px;
    width: fit-content;
    height: fit-content;
    margin-left: 3rem;
    margin-top: 15rem;
}

.text-typing p {
    margin: 0px;
    margin-bottom: 1rem;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(22, end) forwards,
        blink 1s infinite;
}

@keyframes typing {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}

@keyframes blink {

    0%,
    100% {
        border-right: 2px solid transparent;
    }

    50% {
        border-right: 2px solid #222;
    }
}

.input {
    min-width: 15rem;
    height: 2rem;
    background: none;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 2px 15px;
    font-size: large;
    font-family: cursive;
}

.button {
    display: block;
    min-width: 5rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin: auto;
    margin-top: 1rem;
    font-size: medium;
    font-family: cursive;
}

.button:hover {
    background-color: #222;
    cursor: pointer;
}